/* Global colours */
:root {
    --chaps-black: #231F20;
    --bone: #D1CFBE;
    --off-white: #F5F5F5;
    --smoky-black: #0C0B08;
  }
  
/* Remove margins */
* {
    margin: 0px;
}
    
#jumbotron {
    height: 1400px;
    background-image: url("/assets/images/chaps2.png");
    background-position: top;
    background-repeat: none;
    background-size: cover;
    justify-content: center;
}

#about {
    background-color: var(--chaps-black);
}

#difference {
    background-color: var(--bone);
}

#contact {
    background-color: var(--chaps-black);
}

#footer {
    background-color: var(--bone);
    height: 200px;
}

#logo {
    justify
}

.container {
    display: flex;
    height: 800px;
}