/* Global colours */
:root {
    --chaps-black: #231F20;
    --bone: #D1CFBE;
    --off-white: #F5F5F5;
    --smoky-black: #0C0B08;
    --orange: #D16014
  }
  
/* Remove margins */
* {
    margin: 0px;
    font-family: 'Roboto Slab'
}

body {
    background-color: var(--bone);
}

#jumbotron {
    height: 1400px;
    padding-top: 50px;
    background-image: url("../assets/images/chaps2.png");
    background-position: top;
    background-repeat: none;
    background-size: cover;
    justify-content: center;
}

h2 {
    color: var();
}

#about {
    background-color: var(--chaps-black);
    display: flex;
    justify-content: flex-start;
    padding-top: -55px;
    background-image: url("../assets/images/about.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

#difference {
    background-color: var(--chaps-black);
    display: flex;
    justify-content: flex-start;
    padding-top: -55px;
    background-image: url("../assets/images/email2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.card {
    color: var(--off-white);
    margin: 10%;
    /* padding: 5%; */
    /* border: var(--smoky-black) solid 3px; */
}

.strikethrough {
    text-decoration: line-through;
}

#difference {
    background-color: var(--bone);
}

#contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: var(--chaps-black);
    color: var(--off-white);
    height: 350px;
    margin: auto;
}

#contact * {
    /* width: 100%; */
}


address {
    justify-content: center;
    justify-items: center;
    text-align: center;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-size: 1em;
}

#contact > * {
    background-color: transparent;
    font-size: 2em;
    padding-top: 30px;
}

a {
    color: var(--off-white);
}

#phone {
    text-decoration: none;
}

.container {
    display: flex;
    height: 800px;
}
h3 {
    background-color: transparent;
    color: var(--off-white);
}
#footer {
    background-color: var(--bone);
    justify-content: center;
    height: 230px;
    justify-content: center;
    justify-items: center;
    font-family: 'Roboto Slab';
    text-align: center;
    align-items: flex-end;
    margin-bottom: 20px;
}